/problema1/Problema01/nbproject/private/
/problema1/Problema01/build/
/problema1/Problema2/nbproject/private/
/problema1/Problema2/build/
/problema1/Ejecutor/nbproject/private/
/problema1/Problema03/nbproject/private/
/problema1/Problema03/build/
/problema1/Problema03/dist/
/problema1/Problema04/nbproject/private/
/problema1/Problema04/build/
